.idea/
.vscode/

target/
backend/target/

backend/.m2/

.env
*.env
backend/src/main/resources/application.properties
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-secret.properties

*.class
*.jar
*.war
*.log
